apiVersion: v1
kind: Service
metadata:
  name: {{ include "ionos-dns-operator.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ionos-dns-operator.labels" . | nindent 4 }}
spec:
  ports:
  - name: https
    port: 443
    targetPort: https
  selector:
    {{- include "ionos-dns-operator.selectorLabels" . | nindent 4 }}