apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: ionosdnsrecords.ionos-dns-operator.chemsorly.com
  labels:
    {{- include "ionos-dns-operator.labels" . | nindent 4 }}
spec:
  group: ionos-dns-operator.chemsorly.com
  names:
    kind: IonosDnsRecord
    listKind: IonosDnsRecordList
    plural: ionosdnsrecords
    singular: ionosdnsrecord
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Last known DNS record status
      jsonPath: .status.dnsRecordStatus
      name: dnsRecordStatus
      priority: 0
      type: string
    - description: The record name
      jsonPath: .spec.name
      name: name
      priority: 0
      type: string
    - description: The record type
      jsonPath: .spec.type
      name: type
      priority: 0
      type: string
    - description: The content of the record
      jsonPath: .spec.content
      name: content
      priority: 0
      type: string
    - description: The time to live for the record
      format: int32
      jsonPath: .spec.ttl
      name: ttl
      priority: 0
      type: integer
    - description: The state of the record
      jsonPath: .spec.disabled
      name: disabled
      priority: 0
      type: boolean
    name: v1
    schema:
      openAPIV3Schema:
        properties:
          status:
            properties:
              lastChanged:
                description: Last time the entity was changed
                format: date-time
                type: string
              lastReconciled:
                description: Last time the entity was reconciled
                format: date-time
                type: string
              dnsRecordStatus:
                description: Last known DNS record status
                enum:
                - Created
                - Updated
                - Unchanged
                - Deleted
                - AlreadyAbsent
                - Unauthorized
                - NotFound
                - Conflict
                type: string
            type: object
          spec:
            properties:
              rootName:
                description: The root zone name
                type: string
              name:
                description: The record name
                type: string
              type:
                description: The record type
                enum:
                - A
                - AAAA
                - CNAME
                - MX
                - NS
                - SOA
                - SRV
                - TXT
                - CAA
                - TLSA
                - SMIMEA
                - SSHFP
                - DS
                - HTTPS
                - SVCB
                - CERT
                - URI
                - RP
                - LOC
                - OPENPGPKEY
                - UNKNOWN
                type: string
              content:
                description: The content of the record
                type: string
              ttl:
                description: The time to live for the record
                format: int32
                nullable: true
                type: integer
              prio:
                format: int32
                nullable: true
                type: integer
              disabled:
                description: The state of the record
                type: boolean
            required:
            - rootName
            - name
            - type
            - content
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}