apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "ionos-dns-operator.fullname" . }}-role
  labels:
    {{- include "ionos-dns-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ionos-dns-operator.chemsorly.com
  resources:
  - ionosdnsrecords
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - get
  - list
  - create
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ionos-dns-operator.chemsorly.com
  resources:
  - ionosdnsrecords/status
  verbs:
  - get
  - update
  - patch